* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.left {
  border: 2px solid #181616;
  float: left;
  padding-bottom: 1018px;
  margin-bottom: -1000px;
  width: 50%;
  border-top: solid;
}
.right {
  border: 2px solid #221717;
  float: left;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  width: 49.9%;
  border-top: solid;
}
/* .textbox {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
} */
.textbox {
  position: absolute;
  top: 50%;
}
.select {
  position: absolute;
  width: 50%;
  height: 60px;
  top: 48vh;
  /* bottom: 44vh; */
  left: 170px;
}
label {
  position: relative;
  left: 20px;
  color: blue;
}
input#hexcode {
  position: relative;
  left: 30px;
  border: 2px solid midnightblue;
}
.txtcolor {
  color: azure;
}
